* text=auto eol=lf

# Remove docs, configs, and IDE settings from the archives when exporting to zip/tar
/tests/ export-ignore
/.github/* export-ignore
.gitignore export-ignore
.gitattributes export-ignore

.idea/ export-ignore
.vscode/ export-ignore

CODE_OF_CONDUCT.md export-ignore
CONTRIBUTING.md export-ignore
SECURITY.md export-ignore
Contact.md export-ignore
/docs/PrivacyPolicy.md export-ignore
CHANGELOG.md export-ignore

/blocks/raws_clean.txt export-ignore
/blocks/raws.txt export-ignore
/autoscript/param_report.csv export-ignore